@import "assets/scss/index.scss";

@font-face {
  font-family: 'YuanTi';
  src: url("assets/fonts/有爱魔兽圆体-M.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "YuanTi", "sans-serif";
}

.page-enter-active,
.page-leave-active {
  transition: all 0.34s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.card-move,
.card-enter-active,
.card-leave-active {
  transition: all 0.4s ease;
}

.card-enter-from,
.card-leave-to {
  opacity: 0;
  filter: blur(1rem);
  transform: scale(0.8);
}

.card-leave-active {
  position: absolute;
}